.caixatexto{
    background-color: white;
    border-width: 5.8px;
    border-color: white;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    flex-direction: row;
    align-items: center;
}

.header {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

::placeholder{
    color: black;
}
